.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
}
div{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
#s{
    background-color: skyblue;
}
#m{
    background-color: rgb(205, 233, 103);
}
#e{
    background-color: lightpink;
}
#k{
    background-color: mediumslateblue;
}

h1 {
    text-align: center; 
    color: red;
    background-color: khaki;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.img {
    padding: 50px 0;
    width: 600px;
    margin: 0 auto;
 }

